body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-family: 'Open Sans Condensed', sans-serif;
}

/* COLORS */
:root {
  --colored-bg: #fafbf9;
  --primary: #483e37;
  --secondary: #6c6753;
  --tertiary: #cad3ae;
  --light: #fff;
  --dark: #24221c;
  --error: #f95;
  --disabled: #cfcfcf;
  --table-row: #eef1e3;
  --table-hover: #cad3ae;
}
